#app-config .input-group {
  margin: 0.3em;
}
.panel-default {
  box-shadow: 3px 3px 11px #333;
}
#feedback {
  background-color: #333;
}
.feedback-item {
  color: #00FF00;
}

.feedback-item:hover {
  color: lightgreen;
  background-color: #000;
}
body {
  background-color: #999;
  position: relative;
}
#heart-nav {
  background-image: url("../img/Heart.svg");
  background-repeat: repeat-x;
  background-size: 1.5em 1.5em;
  background-color: #333;
  height: 4.5em;
  color: white;
  text-align: center;
  border-bottom: 0.3em solid #eee;
  box-shadow: 2px 2px 13px #000;
  font-family: 'Bungee', cursive;
}

.plr-health-bar {
  width: 200px;
  height: 20px;
  background-image: url(../img/mc_heart_20__empty.png);
  background-repeat: repeat-x;
  margin:auto;
}

.plr-health-bar--overlay {
  position: absolute;
  width: 200px;
  height: 20px;
  background-image: url(../img/mc_heart_20.png);
  background-repeat: repeat-x;
}

#plr-food-value, #plr-hearts-value {
  text-align: center;
}

.plr-hunger-bar {
  width: 200px;
  height: 20px;
  background-image: url(../img/empty_hunger.png);
  background-repeat: repeat-x;
  background-size:20px 20px;
  margin:auto;
}

.plr-hunger-bar--overlay {
  position: absolute;
  width: 200px;
  height: 20px;
  background-image: url(../img/hunger.png);
  background-repeat: repeat-x;
  background-size:20px 20px;
}

.plr-bgl-bar {
  width: 523px;
  height:  16px;
  background-image: url(../img/level_empty.png);
  background-size:523px 16px;
  margin:auto;
}

.plr-bgl-bar--overlay {
  position: absolute;
  width: 523px;
  height:  16px;
  background-image: url(../img/level_full.png);
  background-repeat: none;
  background-size:523px 16px;
}

.plr-insulin-bar {
  width: 523px;
  height:  16px;
  background-image: url(../img/level_empty.png);
  background-size:523px 16px;
  margin:auto;
}

.plr-insulin-bar--overlay {
  position: absolute;
  width: 523px;
  height:  16px;
  background-image: url(../img/level_canCast.png);
  background-repeat: none;
  background-size:523px 16px;
}

.plr-carbs-bar {
  width: 523px;
  height:  16px;
  background-image: url(../img/level_empty.png);
  background-size:523px 16px;
  margin:auto;
}

.plr-carbs-bar--overlay {
  position: absolute;
  width: 523px;
  height:  16px;
  background-image: url(../img/low_energy.png);
  background-repeat: none;
  background-size:523px 16px;
}




.plr-avatar-img {
  padding:45px 10px;
}

.plr-avatar-img img {
  width:100%;
}

.plr-avatar-img--dead {
  position:relative;
}
.plr-avatar-img--dead img {
  width: 130px;
  margin-left: 64px;
}

.plr-avatar-img--dead p {
  width: 81px;
  position: absolute;
  top: 21px;
  left: 89px;
  text-align: center;
}
.particle-canvas {
  position: absolute;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}

.food {
  width: 65%;
  display: inline-block;
}

.potion {
  width: 25%;
  display: inline-block;
}

.food img, .potion img {
  width: 100%;
}

.food-list {
  list-style-type: none;
text-align: center;
display: flex;
border:1px solid black;
padding:0;
}

.food-list li {
  background:gray;
  border:2px solid white;
  width:100px;
  height:100px;
  text-align: center;
}

.food-list li .food-list--img {
  background-size: 75px 75px;
  height:75px;
  width:75px;
  margin:auto;
}

.food-list li:hover {
  cursor:pointer;
}

.food-list li img {
  width:100px;
}
