<html>
<head>

<title>Insulin Engine (Test Harness)</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">

</head>
  <body>
<a href="https://github.com/mc-t1/mct1-singlepage"><img style="position: absolute; top: -17px; left: 0px; border: 0; width : 300px;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
    <nav class="nav navbar-default navbar-fixed-top" id="heart-nav">
      <h1>MCT1 INSULIN ENGINE</h1>
    </nav>
      <canvas id="myCanvas" class="particle-canvas"></canvas>
    <div id="vueroot" style="display: none;"><div><div><div>
      <!-- MAIN APP / LOGIC COMPONENT-->
      <div class="single-root-container container" style="margin-top: 5em;">
      <div class="row">
        <div id="app-container" class="col-md-12">
          <div id="player-insulin-info" class="panel panel-default">
            <!-- PLAYER INSULIN INFO BODY -->
            <div class="panel-heading">
              <h3>Player Stats</h3>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="plr-avatar-img">
                  <div class="plr-avatar-img--alive" v-bind:style="{ display: (playerHeartsValue > 0) ? 'block' : 'none' }">
                    <img src="./img/avatar_alive.gif"/>
                  </div>
                  <div class="plr-avatar-img--dead" v-bind:style="{ display: (playerHeartsValue > 0) ? 'none' : 'block' }">
                    <img src="./img/avatar_dead.png"/>
                    <p>Here Lies<br>{{playerName}}</p>
                </div>
              </div>
            </div>
              <div class="col-xs-12">
                <div class="panel-body">
                  <div id="plr-blood-glucose" class="">
                    <label>Player Blood Glucose: </label>
                    {{bloodGlucose}}
                  </div>
                  <div class="col-xs-6" id="plr-hearts-value" style="display: block;">
                    <label>Player hearts: </label>
                    <div class="plr-health-bar">
                      <div class="plr-health-bar--overlay" v-bind:style="{ width: (playerHeartsValue * 10) + 'px' }"></div>
                    </div>
                    <!-- {{playerHeartsValue}}/{{playerHeartsMax}} -->
                  </div>
                  <div class="col-xs-6" id="plr-food-value">
                    <label> Player food: </label>
                    <div class="plr-hunger-bar">
                      <div class="plr-hunger-bar--overlay" v-bind:style="{ width: (playerFoodValue * 10) + 'px' }"></div>
                    </div>
                    <!-- {{playerFoodValue}}/{{playerFoodMax}} -->
                  </div>

                  <div id="plr-bgl-value">
                    <label> Player BGL: </label>
                    <div class="plr-bgl-bar">
                      <div class="plr-bgl-bar--overlay"
                        v-bind:style="{  width: (playerBGLValue/20)*523 + 'px'}"></div>
                    </div>
                    <!-- v-bind:class="{bgl-low: bglisLow, bgl-high: bglisHigh, bgl-crit-high: bglisCritHigh}"
                    {{playerFoodValue}}/{{playerFoodMax}} -->
                  </div>

                  <div id="plr-insulin-value">
                    <label> Player Insulin: </label>
                    <div class="plr-insulin-bar">
                      <div class="plr-insulin-bar--overlay"
                         v-bind:style="{  width: (playerInsulinValue/20)*523 + 'px'}"></div>
                    </div>
                    <!-- v-bind:class="{bgl-low: bglisLow, bgl-high: bglisHigh, bgl-crit-high: bglisCritHigh}"
                    {{playerFoodValue}}/{{playerFoodMax}} -->
                  </div>
                  <div id="plr-carbs-value">
                    <label> Player Carbs: </label>
                    <div class="plr-carbs-bar">
                      <div class="plr-carbs-bar--overlay"
                         v-bind:style="{  width: (playerCarbsValue/100)*523 + 'px'}"></div>
                    </div>
                    <!-- v-bind:class="{bgl-low: bglisLow, bgl-high: bglisHigh, bgl-crit-high: bglisCritHigh}"
                    {{playerFoodValue}}/{{playerFoodMax}} -->
                  </div>


                  <div id="plr-insulin" style="display: block;">
                    <label>Player Insulin: </label>
                    {{insulinUnitsInSystem}}
                  </div>
                  <ul class="food-list">
                    <li v-for="food in foods" v-on:mousedown="chewFood(food)" v-on:mouseup="stopChew">
                      <div class="food-list--img"  v-bind:style="{ backgroundImage: 'url('+food.image+')' }">
                      </div>
                        <p>{{food.name}}</p>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
          </div>
        </div>
        </div>

        <div class="col-md-6">
          <div id="plrInsulinControls" class="panel panel-default">

            <div class="panel-heading">
              <h3>Insulin Controls</h3>
            </div>

            <div class="panel-body">
              <div class="food" v-on:click="chewFood">
                <img src="./img/foods.png" width="300"/>
              </div>

              <div class="potion" v-on:mousedown="slurpPotion" v-on:mouseup="stopSlurp">
                <img src="./img/potion_of_swiftness.png" width="100"/>
              </div>

              <label>Choose food</label>
              <div class="input-group">

                <select class="form-control" id="food-type" v-model.number="foodValue">
                  <option value="15">Bread 15 carbs</option>
                  <option value="30">Watermelon 30 carbs</option>
                  <option value="45">Cookie 45 carbs</option>
                </select>

              </div>
              <label>How many are you going to eat?</label>
              <div class="input-group">
                <input
                  type="number" id="food-units"
                  min="1" max="5"
                  step="1" v-model.number="foodUnits"
                  class="form-control"
                />
                <span class="input-group-btn">
                  <button class="btn" id="eat-food" v-on:click="eatFood">Eat</button>
                </span>
              </div>
              <label>Take Insulin</label>
              <div class="input-group">

                <input class="form-control" type="number" v-model.number="insulinUnits" id="insulin-units"
                min="0" max="100" step="1" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-secondary" id="take-insulin" v-on:click="takeInsulin">Take</button>
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">

        <!-- FEEDBACK  COMPONENT -->
        <div id="feedback" class="panel panel-default">
          <div class="panel-heading">
            <h3>Feedback</h3>
          </div>
          <div class="panel-body">
          <div class="feedbackMessages">
            <div v-for="item in feedbackMessages" class="feedback-item">
              $> {{item}}
            </div>
          </div>
          </div>


          <div class="panel-footer">
            <button class="btn" id="feedback-clear" v-on:click="clearFeedback">
            Clear feed back
            </button>
          </div>
        </div>

        <!-- CONFIGURATION COMPONENT -->
        <div id="app-config" class="panel panel-default">

          <div class="panel-heading">
            <h3>App Config</h3>
          </div>

          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon">Player can eat</span>
              <input class="form-control" type="number" name="carbs-reference-unit" size="5"
              maxlength="5" v-model="configCarbsReferenceUnit" />
              <span class="input-group-addon">grams (g) of carbs for each 1 unit of insulin taken</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon">Player can have a minimum safe BGL of </span>
              <input class="form-control" type="number" size="5" maxlength="5" name="min-safe-bgl" v-model="configMinSafeBGL" /><span class="input-group-addon">bgl units</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon">Player can have a maximum safe BGL of</span>
              <input class="form-control" type="number" size="5" maxlength="5" name="max-safe-bgl" v-model="configMaxSafeBGL" />
              <span class="input-group-addon">bgl units</span>
            </div>

          </div>
        </div>


      </div>
      </div>
</div>
      <div>
        <h3>Give Feedback</h3>
        <p>Please submit feedback via Github <a href="https://github.com/Magikcraft/insulin-engine/issues" target="_blank">here</a>.</p>
      </div>

    </div></div></div>
    <div id="app">

    </div>

    <!-- Scripts -->
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/foodList.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js" ></script>
    <script type="text/javascript" src="js/BGLeffects.js"></script>
    <script type="text/javascript" src="js/particle.js"></script>
    <script src="js/mct1.js" type="text/javascript"> </script>

  </body>
</html>
